

body {
    font-family: Poppins, 'Noto Sans KR', sans-serif;
    text-align: center;
    width: 700px;
    margin: 50px auto;
}

div {
    
}

img {
    width: 75%;
    height: 45%;
}

hr{
    width: 700px; 
    font-weight: 800;
    margin: auto;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;    
}

.menu {
    font-size: 18px; 
    font-weight: 700; 
    color: rgb(0, 47, 167);
}

.background{
    background-color: #fbfbff;  
    padding: 20px;
}

#name-en{
    color: #3B3B98; 
    font-size: 20px;
}


#introduction{
    font-size: 32px; 
    padding: 20px;
}

#introduction span{
    font-weight: 700;
}


